.container {
  position: relative;
}

.topLeft {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.topRight {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.roundInfo {
  margin: 0;
  font-size: 0.85rem;
}

.bottomCenter {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: var(--bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
